{% extends 'home_without_footer.html' %}
{% block title %}Add Sponsor{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="p-5 bg-light rounded shadow-lg">
                <h3 class="mb-4 text-success">Add New Sponsor</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Add Sponsor</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
